// Custom styles

/**
 * For sticky footer using MaterializeCSS
 * flexbox styling
 */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/**
 * Add padding to main and footer containers
 * for authenticated users
 */
.main-logged-in, .footer-logged-in {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    .main-logged-in, .footer-logged-in {
        padding-left: 0;
    }
}

/**
 * Side Nav
 */
.side-nav {
    top: 65px;
}

#sidenav-overlay {
    margin-left: 300px;
}

// Navigation
.brand-logo {
    padding-left: 1rem !important;
}

// Tabs
#add-swine-tabs .tabs {
    overflow-x: hidden;
}

// Footer
.page-footer {
    background-color: #80cbc4;
}
